{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bundle.css">
    <script src="/static/bundle.js" async defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta property="og:type" content="website" />
    <meta property="og:description" content='{{ block "og-description" . }}The better bug tracker.{{ end }}'>
    <meta property="og:title" content='{{ block "og-title" . }}Sila{{ end }}'>
    <title>{{ block "title" . }}Sila{{ end }}</title>
</head>
<body class="mdc-typography">
{{ block "content" . }}
    ...
{{ end }}
</body>
</html>
{{ end }}