{{ define "title" }}Sila - {{ .Name }}{{ end }}

{{ define "content"}}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" href="/product/{{ .ProductID }}">arrow_back</a>
                <span class="mdc-top-app-bar__title">{{ .Name }}</span>
            </section>
        </div>
    </header>
    <div class="mdc-top-app-bar--fixed-adjust"></div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <h1>{{ .Name }}</h1>
                <br>
                <p>
                    {{ .Description }}
                </p>
                <br>
                <h2>Bugs</h2>
                <br>
                {{range $val := .Bugs }}
                <li class="mdc-list-item" tabindex="0">
                    <span class="mdc-list-item__text">{{ $val.Name }}</span>
                </li>
                {{end}}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
        </div>
    </div>
{{end}}