{{define "content"}}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Editing {{ .Title }}</span>
            </section>
        </div>
    </header>
    <div class="mdc-top-app-bar--fixed-adjust"></div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <form class="fill" action="/save/{{.ID}}" method="POST">
                    <textarea class="fill" name="title">{{.Title}}</textarea>
                    <textarea id="texty" class="fill" name="body">{{.Body}}</textarea> <br/>
                    <input type="submit" value="Save">
                </form>
                <script defer>
                    let simpleMDE = new SimpleMDE({element: document.getElementById("texty")});
                </script>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
        </div>
    </div>
{{end}}