{{ define "title" }}Sila - Products{{ end }}

{{define "content"}}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">Sila</span>
            </section>
        </div>
    </header>
    <div class="mdc-top-app-bar--fixed-adjust"></div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                <h1>Products</h1>
                <br>
                <ul class="mdc-list">
                    {{range $val := . }}
                        <li class="mdc-list-item" tabindex="0" onclick='window.location.href="/product/{{ $val.ID }}"'>
                            <span class="mdc-list-item__text">{{ $val.Name }}</span>
                        </li>
                    {{end}}
                </ul>
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
        </div>
    </div>
{{end}}