{{define "content"}}
    <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <a class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Go Home"
                   href="/pages">home</a>
                <span class="mdc-top-app-bar__title">{{ .Title }}</span>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
                <a class="material-icons mdc-top-app-bar__action-item mdc-icon-button" aria-label="Edit"
                   href="/edit/{{ .ID }}">edit</a>
            </section>
        </div>
    </header>
    <div class="mdc-top-app-bar--fixed-adjust"></div>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
                {{ .Render }}
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1 mdc-layout-grid__cell--span-0-tablet mdc-layout-grid__cell--span-0-phone"></div>
        </div>
    </div>
{{end}}